@media screen and (max-width: 1920px) {
    .album {
        height: 100vh;
    }
    .input_album {
        color: black;
    }
    .card-cover {
        box-sizing: border-box;
        height: 600px;
        width: 509px;
    }
    .card-cover {
        box-sizing: border-box;
        height: 440px;
        width: 609px;
    }
    .album__main {
        height: 88vh;
    }
    .album__card {
        height: 88vh;
        &__body {
            padding: 0 !important;
            display: flex;
            width: 100%;
            height: auto;
            justify-content: center;
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: auto !important;
            &__cover {
                box-sizing: border-box;
                border: grey 0.2px solid;
            }
            &__details {
                margin-top: 1em;

                border: grey 0.2px solid;
                &__title {
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-weight: bold;
                    background-color: rgb(35, 36, 70);
                }
                &__list {
                    list-style: none;
                    height: 90%;
                    padding-left: 0;
                }
                &__delete {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .key {
        padding-left: 0.5em;
        width: 40%;
    }
    .valeur {
        width: 60%;
        //padding-left: 2em;
    }
    .informations {
        padding-right: 0.5em;
        display: flex;
    }
}

@media screen and (max-width: 448px) {
    .card-img {
        box-sizing: border-box;
        height: 410px;
        width: 100%;
    }
    .album__main {
        height: 88vh;
    }
    .album__card {
        padding: 0 !important;
        height: 88vh;
        max-height: 88vh;
        &__body {
            height: 88vh;
        }
        &__content {
            width: 100%;
            height: 84vh;
            &__cover {
                box-sizing: border-box;
            }
            &__details {
                border: grey 0.2px solid;
                &__title {
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-weight: bold;
                    background-color: rgb(35, 36, 70);
                }
                &__list {
                    height: 90%;
                    padding: 0.4em;
                }
            }
        }
    }
    .key {
        width: 30%;
    }
    .valeur {
        width: 70%;
        padding-left: 2em;
    }
    .informations {
        display: flex;
    }
}

@media screen and (height: 762px) {
    .album {
        height: 100vh;
        &__main {
            height: 87vh;
        }
        &__card {
            height: 87vh;
            &__content {
                height: 87vh;
                &__cover {
                    height: 47vh;
                }
            }
        }
    }
    .card-img {
        max-height: 100%;
    }
} ;
