@media screen and (max-width: 1920px) {
    .card-img {
        box-sizing: border-box;
        height: 540px;
        width: 509px;
    }
    .album__main {
        height: 88vh;
    }
    .album__card {
        height: 88vh;
        &__body {
            height: 88vh;
        }
        &__content {
            height: 84vh;
            &__cover {
                box-sizing: border-box;
            }
            &__details {
                height: 35vh;
                border: grey 0.2px solid;
                &__title {
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-weight: bold;
                    background-color: rgb(35, 36, 70);
                }
                &__list {
                    height: 90%;
                    padding-left: 0;
                }
            }
        }
    }
    .key {
        width: 30%;
    }
    .valeur {
        width: 70%;
        padding-left: 2em;
    }
    .informations {
        display: flex;
    }
} ;
