@media screen and (max-width: 1920px) {
    .btn-add-new-album {
        display: flex !important;
        justify-content: center;
    }
    .key {
        width: 30%;
    }
    .valeur {
        width: 70%;
        color: rgb(17, 17, 100);
    }
    .list-albums {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        width: 100%;
        min-height: 84vh;
        align-items: center;
    }
    .list-albums-element {
        display: flex !important;
        flex-direction: row !important;
        height: 150px !important;
        width: 90% !important;
        margin: 2px 0 2px 0;
        border: none !important;
    }
    .card-cover {
        box-sizing: border-box;
        height: 150px !important;
        width: 150px !important;
    }
    .cover {
        //box-sizing: border-box;
        //height: 150px !important;
        width: 148px !important;
        display: flex !important;
        flex-direction: column !important;
    }
    .infos {
        display: flex;
        width: 50%;
        flex-direction: column;

        text-align: center;
        margin: auto;
    }
    .card-infos {
        border-bottom: rgb(170, 169, 169) 0.2px solid;
    }
    .link {
        display: flex;
        margin: auto;
        width: 10%;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
}
