@media screen and (max-width: 1920px) {
    .album {
        height: 100vh;
    }
    .album__main {
        display: flex;
        height: 88vh;
    }
    .album__card__body {
        width: 95vw;
        height: 80vh;
    }
    .album__card {
        display: flex !important;
        margin: auto;

        width: 95vw;
        height: 100%;

        &__content {
            width: 100%;
            height: 100%;
            &__details {
                display: flex;
                flex-direction: column;
                margin-top: 2em;
                height: 55vh;
                background-color: grey;
            }
            &__cover {
                display: flex;
                margin: auto;
                box-sizing: border-box;
                width: 250px;
            }
        }
    }
}

.albums {
    min-height: 100vh;
    &-main {
        min-height: 88vh;
    }
}
body {
    min-height: 88vh !important;
    max-height: auto;
}

.list-albums {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    &-element {
        margin: 0.5em !important;
    }
}
.albumcover {
    box-sizing: border-box !important;
    width: 229px !important;
    height: 346px !important;
    align-items: center;
}

.trash-icon {
    margin: auto;
    width: 25px;
    height: 25px;
}
.card-test {
    background-color: #fff;
}

.div-test {
    width: 200px;
    height: 200px;
    background-color: red;
}

.btn-add-new-album {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.spinner_loading {
    background-color: red;
}
