//@import "~antd/dist/antd.css";

body {
  min-height: 88vh;
  max-height: auto;
  //background-color: rgb(9, 21, 46) !important;
}
.title {
  color: white;
}

.App {
  text-align: center;
  box-sizing: border-box;
}
.validation-btn {
  background: rgb(52, 160, 52) !important;
  border-color: rgb(52, 160, 52) !important;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
