body {
  min-height: 79.5vh;
  max-height: auto;
  //background-color: rgb(46, 50, 58) !important;
  background-image: linear-gradient(180deg, #3d414b, #5e6472);
}
.title {
  color: white;
}

.App {
  text-align: center;
  box-sizing: border-box;
  max-height: 50vh;
}
.validation-btn {
  background: rgb(52, 160, 52) !important;
  border-color: rgb(52, 160, 52) !important;
}
