.footer {
    width: 90%;
    margin-left: 5%;
    text-align: "center";
    height: 6vh;
    background-color: #212529;
    position: fixed;
    bottom: 0;

    justify-content: center;
    &-text {
        display: flex;
        justify-content: center;
        line-height: 6vh;
        height: 6vh;
        color: #0d6efd;
        font-weight: bold;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
}
.at {
    margin-left: 0.25em;
}

.github {
    margin-left: 0.25em;
    text-decoration: none;
}
