.homepage__navbar {
    display: flex;
    background-color: #3f434d;
    position: sticky !important;
    z-index: 1050;
    top: 0;
    width: 100% !important;
}
.navbar__burger {
    margin-right: 2em !important;
    //margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.navbar__logo {
    text-decoration: none;
    margin-left: 2em;
    margin-top: 15px;
}

.signin-btn_connect,
.btn_albumslist {
    text-decoration: none;
    background-color: transparent !important;
}

.signin-btn_connect:hover,
.btn_albumslist:hover {
    text-decoration: none;
    background-color: rgb(0, 0, 0) !important;
}

.header__btn_disconnect:hover {
    text-decoration: none;
    background-color: red !important;
    border-color: red !important;
}
.header__btn_myAlbums:hover {
    text-decoration: none;
    background-color: green !important;
    border-color: green !important;
}

.narbar-btn {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
}

.navbar {
    width: 90%;
    margin: auto;
}

@media screen and (min-width: 972px) {
    .header__nav {
        margin: 2em;
        display: flex;
        justify-content: space-around;
        position: sticky !important;
    }
    .navbar__burger {
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }
}

@media screen and (max-width: 768px) {
    .header__nav {
        margin: 2em;
        display: flex;
        justify-content: space-around;
        position: sticky !important;
    }
    .navbar__burger {
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }
} ;
