.navbar-color {
    background-color: #3d414b;
}

.logo {
    text-decoration: none;
}

.signin-btn_connect {
    text-decoration: none;
    background-color: transparent;
}

.narbar-btn {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
}

.navbar {
    width: 90%;
    margin: auto;
}
