.title {
    color: white;
}

body {
    min-height: 88vh !important;
    max-height: auto;
}

.homepage-card {
    width: 80vw;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    margin: auto;
}

.signIn-btn_connect {
    text-decoration: underline;
}
