.homepage {
    &-main {
        width: 90%;
        margin: auto;
        min-height: 94vh;
        display: flex;
    }
    &-card {
        width: 80vw;
        min-height: 60vh;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}
.title {
    color: white;
}

body {
    min-height: 88vh !important;
    max-height: auto;
}

.signIn-btn_connect {
    text-decoration: underline;
}
