.form-add-album {
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}
.btn-group {
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #3d414b;
}

.is-success {
    margin: 1em;
}

.is-cancel {
    margin: 1em;
}
