/* .modal.is-active {
  z-index: -10;
  background-color: rgb(22, 22, 175);
} */
.classperso {
  z-index: 50;
}

.modal {
  z-index: -10;
  background-color: rgb(22, 22, 175);
}

.is-active {
  z-index: 1;
  background-color: rgb(22, 22, 175);
}
