.signin {
    &-main {
        display: flex;
        min-height: 94vh !important;
    }
}

.signin-card {
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2em;
}

.user-input {
    display: flex;
    justify-content: center;
}

.no_account {
    display: flex;
    margin-top: 0.5em;
    justify-content: center;
}
