.signup {
    &-main {
        min-height: 94vh !important;
        display: flex;
    }
    &-card {
        width: 80vw;
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 2em;
    }
}
.title {
    color: white;
}

.user-input {
    display: flex;
    justify-content: center;
}

body {
    min-height: 88vh !important;
    max-height: auto;
}
