.signin{
    &-main {
        display: flex;
    min-height: 88vh !important;
}
}


.signin-card {
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2em;
}

.user-input {
    display: flex;   
    justify-content: center;
}

.no_account {
    display: flex;
    margin-top: .5em;
    justify-content: center;
 }
