.title {
    color: white;
}

.signup-card {
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: auto;
}

body {
    min-height: 88vh !important;
    max-height: auto;
}

.no_account {
    margin-left: 5em;
}
