.user {
    &__main {
        width: 90%;
        margin: auto;
        min-height: 94vh;
        display: flex;
        &__card {
            width: 80vw;
            min-height: 60vh;
            display: flex;
            justify-content: center;
            margin: auto;
        }
    }
}
